<%- include('partials/header'); -%>

<!-- <h1>Recent Articles</h1> -->
<h1>My Tickets</h1>
<div class="createTicket">
    <span>
        <form action="/mytickets?" method="get">
            <input type="hidden" name="createNew" value="true">
            <button type="submit" class="btn btn-primary">Create New</button>
        </form>
    </span>
</div>

<div class="alert alert-success" style="font-size: larger;">
    <strong><%= displaySomeMessage %></strong>
</div>

<div class="ticket">
<table class="table table-striped table-borderless">
<tbody>
    
    <% if (tickets !== null || tickets.length !== 0) { %>
    <% tickets.forEach(function(ticket) { %>
        <tr><td>
            <div class="summary">
                <%= ticket.summary %>
            </div>
            <div>
                <span>Posted by <b><%= ticket.owner %></b> on </span>
                <span><b><%= ticket.created %></b></span>
            </div>
            <div class="details">
                <%= ticket.details.substring(0, 135); %>
                <a href="/mytickets/<%= ticket.id %>">...read more</a>
            </div>
        </td></tr>
    <% }); %>
    <% } %>

</tbody>
</table>
</div>

<%- include('partials/footer'); -%>
